.login-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  

  .line-container {
    position: relative;
  }

  .line {
    width: 100%;
    border-bottom: 1px solid black; /* Adjust line style as needed */
  }

  .text-inside {
    position: absolute;
    top: -10px; /* Adjust vertical position of text */
    left: 50%; /* Adjust horizontal position of text */
    transform: translateX(-50%);
    font-size: 14px;
    /* background-color: white; Adjust background color as needed */
    padding: 0 10px; /* Adjust padding as needed */
  }